
html, body, #myMap {
height: 100%;
margin: 0;
padding: 0;
z-index: 0;
}

#react {
  position: absolute;
  z-index: 1;

}



@media query and (max-width: 450px) {
  #react {
    position: absolute;
    height: 10%;
    z-index: 1;
  }

}
/* .pop_up_box_text {
 font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
line-height: 22px;
color: #ffffff;
display: inline;
} */
