html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q,
s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd,
ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead,
tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio,
video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
 font: inherit;
 vertical-align: baseline;
}

body {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: black;
  overflow-x: hidden;
}

header {
  background-color: #3b2f23;
  height: 4em;
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-between;
  left: 0;
  bottom: 0;
  padding-top: 20px;
  padding-bottom: 10px;
  width: 100%;
  background-color: #3b2f23;
  color: white;
  /*text-align: center;*/
  font-family: myFont;
}

.btnL {
  position: absolute;
  top: 19px;
  right: 210px;
  font-family: myFont;
}

.btnR {
  position: absolute;
  top: 19px;
  right: 50px;
  font-family: myFont;
}

.btnLo{
  font-family: myFont;
}

.playNow {
  margin: auto;
  display: block;
  margin-top: 130px;
}

.takeNow {
  display: block;
  margin-top: 90px;
  width: 350px;
  margin-left: 5px;
}

.btns {
  color: white;
  background-color: #3b2f23;
  font-size: 25px;
  font-weight: 500;
  border-radius: 5px;
  border: solid 1px white;
  cursor: pointer;
}

.btns1 {
  color: white;
  background-color: #3b2f23;
  font-size: 70px;
  font-weight: 500;
  border-radius: 5px;
  border: solid 2px white;
  cursor: pointer;
  font-family: myFont;
  padding-top: 10px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

.flexBtn {
  display: flex;
  width: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../img/flags2.jpg');
}

.cont {
  width: 100%;
  height: 600px;
  background-size: cover;
  background-image: url('../img/dawning_star_by_bschlaadt.jpg');
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  text-align: center;
}

.content {
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-image: url('../img/oldie.jpg');
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  text-align: center;
}

.content p {
  font-family: myFont;
  font-size: 2em;
  color: white;
  display: flex;
  word-wrap: break-word;
  width: 50%;
  background-color: #3b2f23;
  text-align: center;
  padding:30px;
  letter-spacing: 0.1em;
}

.cont p{
  font-family: myFont;
  font-size: 2em;
  color: white;
  display: flex;
  word-wrap: break-word;
  width: 50%;
  background-color: #3b2f23;
  text-align: center;
  padding: 30px;
  letter-spacing: 0.1em;

  /*display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
  top: 50%;*/
}

@font-face {
  font-family: myFont;
  src: url('../img/TOSCA.ttf');
}

h1 {
  font-size: 172px;
  color: white;
  padding: 0;
  padding-top: 90px;
  margin: 0;
  text-align: center;
  font-family: myFont;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  font-size: 45px;
  color: white;
  padding: 0;
  padding-top: 70px;
  margin: 0;
  text-align: center;
  font-family: myFont;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 0.5em;
}

/*profile starts here*/
.passport{
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-image: url('../img/us-background.png');
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
}

.passport2{
  width: 100%;
  height: 1000px;
  background-size: cover;
  background-image: url('../img/sovflag2.jpg');
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;

}
.pass-info{
  width: 70%;
  height: 70%;
  margin: 0 auto;
  background-color: #3b2f23;
  background-image: url('../img/pass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.pass-infous{
  width: 70%;
  height: 70%;
  margin: 0 auto;
  background-color: #3b2f23;
  background-image: url('../img/uspass.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.pass-info h1{
  font-size: 4em;
}

.pass-ul{
  margin-left:9%;
  font-size: 1.5em;
  list-style-type: none;
  font-family: 'GNUTypewriterStandard';
  font-weight: normal;
  font-style: normal;
}

.passport button{
  background-color: black;
  margin-bottom: 40px;

}
.picture-user{
  padding-top: 35px;
  margin-left: 13%;
}
.picture-userus{
  padding-top: 76px;
  margin-left: 13%;
}



/*-----------PROFILE ENDS--------------------*/

a {
  text-decoration: none;
  color: white;

}

/* SIGNUP AND LOGIN STRTS HERE*/

.error {
  color: red;
}

.rowModal {
  padding: 13px 0;
  display: flex;
  flex-direction: column;
}

.rowModal input {
  margin: 2px 0;
  padding: 2px 0;
  align-items: center;
}

.rowModal1,
.rowModal3 {
  padding: 13px 0;
}

.rowModal3 {
  display:flex;
  justify-content: center;
  font-size: 15px;
}

.rowModal2 {
  padding-bottom: 13px;
}
.modal1,
.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 20px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.644);
}

.modal1-content,
.modal2-content {
  font-variant: small-caps;
  font-size: 18px;
  background-color: #ebebeb;
  margin: auto;
  padding: 20px 45px;
  width: 25%;
  border: 15px solid rgba(0, 0, 0, 0.774);
  overflow: auto;
}

.modal1-content p,
.modal2-content p {
  margin: 5px 0;
  text-align: center;
  font-size: 30px;
}

.exit,
.exit2 {
  display: flex;
  justify-content: flex-end;
  color: #919191;
  font-size: 20px;
  font-weight: bold;
}

.exit:hover,
.exit:focus,
.exit2:hover,
.exit2:focus {
  color: rgb(122, 0, 0);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 768px){
  .container h1{
    font-size: 70px;
  }

  .container h3{
    font-size: 30px;
  }
  .cont p{
    font-size: 1.7em;
    width: 70%;
  }
  .content p{
    font-size: 1.2em;
    width: 70%;
  }
  .pass-info{
    width: 80%;
  }
}

@media screen and (max-width: 450px){
  .btns1{
    font-size: 40px;
  }
  .takeNow {
    width: 75%;
  }


}

@media screen and (max-width: 1024px){
  .modal1-content,
  .modal2-content {
    width: 50%;
  }
  .content p{
    font-size: 1.2em;
    width: 70%;
  }

}

/*-------------- SIGNUP AND LOGIN ENDS -------------------------*/

.socialIcons {
  margin-right: 0px;
}

footer p {
  margin-left: 30px;
}

.socialIcons i {
  margin-right: 30px;
}
